/* You can add global styles to this file, and also import other style files */

.ng-touched.ng-invalid {
  border-color: #D42941;
}

.ng-dirty.ng-invalid {
  border-color: #D42941;
}

[data-notify="container"] {
  z-index: 1060 !important;
}
